body{
    text-align: center;
    background-color: rgb(216, 245, 255);
    font-family: 'Jersey 15', sans-serif;
    color: rgb(146, 202, 255);
}

h3{
    font-size: larger;
    font-weight:800px;
    color: rgb(255, 54, 54);
}

.contLeaderboard{
    margin:auto;
    margin-top: 20px;
    width: 80%;
    height: auto;
    border: 2px solid palegoldenrod;
    background-color: rgb(242, 239, 207);
}

.statboard{
margin:auto;
margin-top: 20px;
width: 80%;
height: auto;
border: 2px solid palegoldenrod;
background-color: rgb(242, 239, 207);
} 

.play{
margin:auto;
margin-top: 20px;
width: 80%;
height: auto;
border: 2px solid palegoldenrod;
background-color: rgb(242, 239, 207);
} 

.level{
margin:auto;
width: 80%;
height: auto;
border: 2px solid palegoldenrod;
background-color: rgb(242, 239, 207);
} 
    