body{
    text-align: center;
    background-color: rgb(216, 245, 255);
    font-family: 'Jersey 15', sans-serif;
    color: rgb(146, 202, 255);
}

h3{
    font-size: larger;
    font-weight:900 px;
    color: rgb(255, 54, 54);
}
    